<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Nama" value="SPBU 66.755.011"/>
		<add key="Alamat" value="JL. SRIBANGUN - KOTA BANGUN ULU"/>
		<add key="RecNo" value="1003076037"/>
		<add key="Hose" value="3"/>
		<add key="Produk" value="DEXLITE"/>
		<add key="Harga" value="9700"/>
		<add key="Prov" value="KUTAI KARTANEGARA - KALTIM"/>
		<add key="Footer" value="TERIMA KASIH ATAS KUNJUNGANNYA SELAMAT JALAN"/>
	</appSettings>
</configuration>
